<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <table class = "login-table">
	  <div class="field">
	    <tr>
		    <td class="text-input"><%= f.label :email %><br/></td>
		    <td class="text-input"><%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> </td>
	    </tr>
	  </div>

	  <div class="actions input">
		  <tr><td></td>
		    <td class="text-input"><%= f.submit "Resend confirmation instructions", class: "btn-default login" %></td>
	   </tr>
	  </div>
  </table>
  <%= render "devise/shared/links" %>
<% end %>
