<h3>Admin Panel</h3>
<%= stylesheet_link_tag  'jquery' %>
<%= javascript_include_tag 'http://code.jquery.com/jquery-1.10.2.js' %>
<%= javascript_include_tag 'http://code.jquery.com/ui/1.11.4/jquery-ui.js' %>
<div class="admin-options">
	<h5>Admin Options:</h5>
	<ul>
		<li><%= link_to 'Members List' , :controller => 'admins' ,:action => 'list' %></li>
		<li><%= link_to 'Add Members' , admins_add_members_path %></li>
		<li><%= link_to 'Assign Roles', admins_assign_roles_path %></li>
	</ul>
</div>
